@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.logo {
  background-color: #fff;
  align-content: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  user-select: none;
  /* overflow: hidden; */
  width: 100%;
}

a > div:active, /* активная/посещенная ссылка */
a > div:hover,  /* при наведении */
a > div {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.top,
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left {
  width: 300px;
  position: sticky;
  height: 300px;
  top: 0px;
  z-index: 3;
}

.logo {
  cursor: pointer;
  align-items: center;
}

.logo_image {
  width: 30%;
}

.element_list {
  display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
  padding-left: 5%;
  gap: 15px;
  align-content: center;
  margin-top: 10px;
}


.element_list_strelka {
  font-size: 20px;
  font-weight: bold;
  padding-right: 3%;
}

.element_list_hover {
  transition: all 0.3s;
  height: 60px;
  cursor: pointer;
  color: black;
}

.element_list_hover:hover {
  background-color: rgb(235, 13, 98);
  color: white;
}

.element_list_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.element_list_image {
  width: 40px;
}

.element_list_text {
  font-size: 20px;
}

.right {
  width: 85%;
  position: relative;
  background-color: rgb(248, 248, 248);
  min-height: 100vh;
  z-index: 2;
}

.header {
  background-color: rgb(201, 201, 201);
  height: 90px;
  z-index: 5;
}

.top_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.town {
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

.other {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-right: 30px;
}

.other > img {
  width: 40px;
  cursor: pointer;
}

.other > span {
  cursor: pointer;
}

.questions {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
}

.questions:hover {
  background-color: rgb(235, 13, 98);
  color: white;
  cursor: pointer;
}

.number {
  font-weight: bold;
  font-size: 16px;
}

.delivery {
  font-size: 16px;
}

.love,
.cart {
  cursor: pointer;
}

.bottom_top {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search {
  width: 95%;
  height: 30px;
  border-radius: 10px;
  opacity: 0.9;
}

.search::placeholder {
  transform: translateX(10px);
}

.search_img {
  width: 30px;
  cursor: pointer;
}

.slider {
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
}

.slider > img {
  width: 100%;
  cursor: pointer;
}

.left_strelka {
  position: absolute;
  top: 40%;
  left: 10px;
  font-size: 35px;
  background-color: white;
  padding: 1px 12px;
  border-radius: 50%;
  color: rgb(235, 13, 98);
}

.right_strelka {
  position: absolute;
  top: 40%;
  right: 10px;
  font-size: 35px;
  background-color: white;
  padding: 1px 12px;
  border-radius: 50%;
  color: rgb(235, 13, 98);
}

.slider > div:hover {
  color: rgb(119, 7, 50);
  cursor: pointer;
  user-select: none;
}

.nomer_flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5px;
}

.nomer {
  width: 80px;
  background-color: rgb(88, 88, 88);
  height: 3px;
}

.animation_opacity_zero {
  animation: mymove_zero 0.7s infinite ease;
}

@keyframes mymove_zero {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animation_opacity_one {
  animation: mymove_one 0.7s infinite ease;
}

@keyframes mymove_one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image_sellerss {
  width: 25px;
}

.sellers_slider {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-left: 400px;
  /*width: 440px;*/
}

.cart {
  width: 190px;
}

.hSellers > h3 {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 30px;
}

.sellers_img {
  width: 190px;
}

.opis {
  width: 190px;
  height: 100px;
}

.menu_slider {
  width: 800px;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
  border: 1px solid grey;
  border-radius: 40px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.menu_slider > div {
  cursor: pointer;
  user-select: none;
}

.menu_slider > .right_strelka:hover,
.left_strelka:hover {
  color: rgb(119, 7, 50);
}

.categories_flex {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.categories {
  border: 1px solid gray;
  border-radius: 15px;
  width: 300px;
  height: 250px;
  text-align: center;
  background-color: white;
}

.categories_span {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-top: 15px;
}

.cart_categories:hover {
  color:rgb(119, 7, 50);
}

.categories_span:hover {
  cursor: pointer;
  color: rgb(119, 7, 50);
}

.categories_img {
  width: 50%;
  margin: 0 auto;
}

.o_nas_opis {
  font-size: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  border-radius: 40px;
  width: 97%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.subscribe_opis {
  font-size: 30px;
  text-align: center;
}

.red_opis {
  color: rgb(235, 13, 98);
}

.form_subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inp_subscribe::placeholder {
  transform: translateX(12px);
}

.img_subscribe {
  padding: 10px 15px;
  border: none;
  background-color: rgb(235, 13, 98);
  font-size: 20px;
  color: white;
  border-radius: 25px;
}

.img_subscribe:hover {
  padding: 9px 14px;
  background-color: white;
  color: rgb(235, 13, 98);
  cursor: pointer;
  border: 1px solid rgb(235, 13, 98);
}

.inp_subscribe {
  height: 40px;
  width: 300px;
  border-radius: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.left_footer > div {
  padding-top: 4px;
  font-size: 20px;
}

.list_element_footer {
  color: rgb(88, 88, 88);
  font-size: 19px;
  padding-top: 3px;
}

.list_element_footer:hover {
  color: rgb(235, 13, 98);
  cursor: pointer;
}

.list_element_footer_glav {
  font-size: 25px;
  color: black;
}

.nomer_call {
  color: rgb(235, 13, 98);
  font-size: 30px;
  margin-top: 5px;
}

.voskl {
  font-size: 20px;
}

.o_nas {
  margin: 15px;
  font-size: 18px;
  line-height: 25px;
}

.preim {
  width: 95%;
  margin: 10px auto;
}

.prem_flex {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.prem_cart {
  width: 200px;
  height: 160px;
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
  text-align: center;
}

.prem_img {
  margin-top: 10px;
}

.delivery {
  color: black
}

.categories_div {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.cart_categories {
  width: 300px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  margin-left: 15px;
  cursor: pointer;
}

.categories_img {
  width: 200px
}

.add_to_cart {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.circle {
  cursor: pointer;
  background-color: grey;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.circle:hover {
  background-color:rgb(119, 7, 50);
  color: white;
}

.add_to_cart {
  align-items: center;
}

.element_cart_list {
  display: flex;
  gap: 17px;
  width: 90%;
  border: 1px solid black;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 25px;
}

.element_cart_list_img {
  height: 200px;
  padding: 15px;
}

.price_price {
  font-size: 25px;
}

.price {
  width: 170px;
  text-align: center;
}

.description_element_cart_list {
  margin-bottom: 130px;
  font-size: 20px;
}

.love_cart {
  width: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: space-between;
  border: 1px rgb(88, 88, 88) solid;
  border-radius: 10px;
  z-index: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 5px;
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 10px;
  align-items: center;
}

.filter_input {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-left: 10px;
  font-size: 25px;
}

.filter_input > input::placeholder {
  translate: translateX(10px);
}

.input_filter {
  width: 90px;
  height: 30px;
}

.filter_button {
  margin-right: 15px;
  background-color: rgb(235, 13, 98);
  color: white;
  padding: 12px;
  font-size: 20px;
  border-radius: 10px;
}

.filter_button:hover {
  cursor: pointer;
  background-color: white;
  color:rgb(235, 13, 98);
  border: 1px solid rgb(235, 13, 98);
  padding: 11px;
}

.button_to_cart {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  color: white;
  margin-right: 5px;
  background-color:rgb(235, 13, 98);
  text-align: center;
  border-radius: 15px;
}

.button_to_cart:hover {
  border: 1px solid rgb(235, 13, 98);
  padding: 9px;
  background-color: white;
  color:rgb(235, 13, 98);
}

.script_animation_100_to_0 {
  animation: mymove_zero 0.7s infinite ease;
}

.script_animation_0_to_100 {
  animation: mymove_one 0.7s infinite ease;
}

@keyframes mymove_one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.round_one {
    width: 750px;
    height: 1500px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: rgb(235, 13, 98);
    position: absolute;
    top: -750px;
    right: 0px;
    z-index: -2;
}

.round_two {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  shape-inside: circle(50% at center center);
  background: rgb(235, 13, 98);
  z-index: -1;
  position: absolute;
  bottom: 0px;
  left: -600px;
}

.IminI {
  padding-left: 10%;
}

.ImaxI {
}

.max_minI {
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-around;
}

.max_min_button {
  padding-left: 6%;
  border: none;
  background-color: rgb(235, 13, 98);
  font-size: 20px;
  color: white;
  border-radius: 25px;
}

.text_align_center {
  align-items: center;
}

.line {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.black {
  background-color: black;
  width: 390px;
}

.white {
  background-color: white;
  width: 710px;
  height: 2px;
}

.minI {
  height: 25px;
  border: none;
  border-bottom: 1px grey solid;
  color: black;
}

.minI:focus {
  color: black;
  outline: none;
} 

.minI::placeholder{
  color: black;
}

.maxI {
  height: 25px;
  border: none;
  border-bottom: 1px white solid;
  color: white;
  background-color: rgb(235, 13, 98);
}

.maxI::placeholder{
  color: white;
}

.maxI:focus {
  outline: none;
} 

.towars_cart_a_lot_off {
  display: flex;
  justify-content: space-around;
  width: 1050px;
  gap: 15px;
  border: 1px solid grey;
  -webkit-box-shadow: 0px 0px 8px 15px rgba(34, 60, 80, 0.39);
  -moz-box-shadow: 0px 0px 8px 15px rgba(34, 60, 80, 0.39);
  box-shadow: 0px 0px 8px 15px rgba(34, 60, 80, 0.39);
  margin: 0 auto;
  padding: 4px 4px 4px 4px;
  background-color: #fff;
  margin-top: 20px;
}

.love {
  width: 40px;
  cursor: pointer;
  height: 40px;
}

.buy {
  display: flex;
  justify-content: center;
  width: 400px;
  align-items: center;
}

.white_label {
  color: #fff;
}

.animation_margin {
  animation: margin_one 2s infinite ease;
  margin-left: 1000px;
}

@keyframes margin_one {
  from {
    margin-left: 1000px;
  }
  to {
    margin-left: 10px;
  }
}

.towars_no {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.smail {
  width: 150px;
  margin-left: 500px;
}